---
import Tarjeta from '../components/Card.astro';
import HelloComponents from '../components/HelloComponents.jsx';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<Tarjeta title="Card 1" text="texto Card 1" />
		<Tarjeta title="Card 2" text="texto Card 2" />


		<HelloComponents client:load />
		<a href="./about.html" style="display: inline-block; padding: 10px 20px; margin-top: 20px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 4px;">Go to About</a>
	</body>

	</body>
</html>
